<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RIAB_Restaurent_Management_System.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <RIAB_Restaurent_Management_System.Properties.Settings>
      <setting name="PrinterPageWidth" serializeAs="String">
        <value>260</value>
      </setting>
      <setting name="PrinterMarginLeft" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="Title" serializeAs="String">
        <value>Business Book</value>
      </setting>
      <setting name="SubTitle" serializeAs="String">
        <value>52, Hussain park, Harbance Pura pull, Lahore</value>
      </setting>
      <setting name="Footer" serializeAs="String">
        <value>Call at   (+92 302 4759550)   (+92 322 4574133)</value>
      </setting>
      <setting name="Reciptlineheight" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="lastsavedate" serializeAs="String">
        <value>2020-09-03</value>
      </setting>
      <setting name="activationdate" serializeAs="String">
        <value>2020-09-03</value>
      </setting>
      <setting name="expireindays" serializeAs="String">
        <value>1</value>
      </setting>
    </RIAB_Restaurent_Management_System.Properties.Settings>
  </userSettings>
<connectionStrings><add name="dbctx" connectionString="metadata=res://*/data.model.csdl|res://*/data.model.ssdl|res://*/data.model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=bbdb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>
